header{
    background-color: darkolivegreen;
    text-align: start;
    font-size: 0.5cm;
}
h1{
    text-align: center;
    text-underline-position: below;
    font-size: 2.7cm;
    background-color: blue;
}
h3{
    text-align:start;
    font-size: 0.5cm;
}
h5{
    text-align: end;
    font-size: 0.8cm;
}
h4{
    font-size: 1.0cm;
}
body{
    background-color: burlywood;
}